{% load static %}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="">
<![endif]-->
<!--[if gt IE 8]>
<!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Personal Portfolio Template">
    <meta name="author" content="TeamXcel">

    <title>{{ title }}</title>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <!-- Themify Icons CSS -->
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <!-- Elegant Line Icons CSS -->
    <link rel="stylesheet" href="{% static 'css/elegant-line-icons.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Slicknav CSS -->
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">
    <!-- animate CSS -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!-- OWL-Carousel CSS -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <!-- Venobox CSS -->
    <link rel="stylesheet" href="{% static 'css/venobox.css' %}">
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">


</head>

<body data-spy="scroll" data-target="#navmenu" data-offset="70">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="site-preloader-wrap">
        <div class="spinner-wrap">
            <div class="spinner"></div>
        </div>
    </div><!-- Preloader -->

    <header id="header" class="header-section">
        <div class="container">
            <nav class="navbar">
                <a href="#" class="navbar-brand"><img src="{{ settings.logo.url }}"style="width: 70px;" alt="Xavia"></a>
                <div class="d-flex menu-wrap">
                    <div id="navmenu" class="mainmenu">
                        <ul class="nav">
                            <li><a data-scroll class="nav-link active" href="#home">Home <span class="sr-only">(current)</span></a></li>
                            <li><a data-scroll class="nav-link" href="#about">About</a></li>
                            <li><a data-scroll class="nav-link" href="#services">Services</a></li>
                            <li><a data-scroll class="nav-link" href="#portfolio">Portfolio</a></li>
                            <li><a data-scroll class="nav-link" href="#reviews">Reviews</a></li>
                            <li><a data-scroll class="nav-link" href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--.header-section -->

    <section id="home" class="hero-section d-flex align-items-center">
        <div class="container">
            <div class="row hero-wrap">
                <div class="col-lg-7">
                    <div class="hero-content">
                        <!-- <h3 class="sub-heading wow fadeInUp" data-wow-delay="200ms">здесь будет что-то....</h3> -->
                        <h1 class="heading wow fadeInUp" style="color: rgba(255, 255, 58, 0.801);" data-wow-delay="300ms">{{settings.title}}</h1>
                        <p class="desc wow fadeInUp" style="width: 500px; font-size: 30px;" data-wow-delay="400ms">{{settings.description}}</p>
                        <a href="#" class="default-btn wow fadeInUp" data-wow-delay="500ms">Download CV</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--.hero-section-->

    <section id="about" class="about-section bd-bottom padding">
        <div class="container">
            <div class="row about-wrap d-flex align-items-center">
                <div class="col-lg-5 sm-padding">
                    <div class="about-bg wow fadeInLeft" data-wow-delay="100ms">
                        <img src="{{about.image.url}}" alt="img">
                    </div>
                </div>
                <div class="col-lg-7 sm-padding">
                    <div class="about-content">
                        <h2><span class="wow fadeInUp" data-wow-delay="100ms">{{about.title}}</span> </h2>
                        <p class="wow fadeInUp" data-wow-delay="500ms">{{about.description}}</p>
                    </div>
                    <div class="cv-btn">
                        <a href="#" class="default-btn wow fadeInUp" data-wow-delay="900ms">Get a Free Quote</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/.about-section-->

    <section id="services" class="service-section bg-grey bd-bottom padding">
        <div class="container">
            <div class="section-heading text-center mb-40">
                <h2 class="wow fadeInUp">ВОСТРЕБОВАННЫЕ IT-КУРСЫ В КЫРГЫЗСТАНЕ</h2>
            </div>
            <!--/.section-heading-->
            <div class="service-wrap row">
                {% for course in courses %}
                <div class="col-lg-3 col-sm-6 sm-padding wow fadeInUp" data-wow-delay="300ms">
                    <div class="service-item text-center">
                        <h3><span>{{course.title}}</span></h3>
                        <p>{{course.description}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--/.service-section-->

    <section class="counter-section padding overlay">
        <div class="container">
            <div class="counter-wrap row">
                <div class="col-lg-3 col-sm-6 sm-padding wow fadeInUp" data-wow-delay="100ms">
                    <div class="counter-item text-center">
                        <i class="icon-documents"></i>
                        <h3 class="counter">449</h3>
                        <h4>Projects Done</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 sm-padding wow fadeInUp" data-wow-delay="300ms">
                    <div class="counter-item text-center">
                        <i class="icon-happy"></i>
                        <h3 class="counter">599</h3>
                        <h4>Satisfied Clients</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 sm-padding wow fadeInUp" data-wow-delay="500ms">
                    <div class="counter-item text-center">
                        <i class="icon-wine"></i>
                        <h3 class="counter">449</h3>
                        <h4>Cups Coffee</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 sm-padding wow fadeInUp" data-wow-delay="700ms">
                    <div class="counter-item text-center">
                        <i class="icon-trophy"></i>
                        <h3 class="counter">449</h3>
                        <h4>Awerd Won</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/.counter-section-->

    <section id="portfolio" class="work-section bd-bottom padding">
        <div class="container">
            <div class="section-heading text-center mb-40">
                <h2 class="wow fadeInUp" data-wow-delay="100ms">Work Portfolios</h2>
            </div>
            <!--/.section-heading-->
            <div class="work-items-wrap">
                <div class="work-titles"></div>
                <ul class="work-filter mb-30 wow fadeInUp" data-wow-delay="300ms">
                    <li class="active" data-filter="*">All</li>
                    <li data-filter=".branding">Branding</li>
                    <li data-filter=".design">Design</li>
                    <li data-filter=".wordpress">Wordpress</li>
                    <li data-filter=".marketing">Marketing</li>
                </ul><!-- /.Work filter -->
                <div class="row work-items wow fadeInUp" data-wow-delay="500ms">
                    <div class="col-md-4 col-sm-6 xs-padding single-item design wordpress">
                        <a href="{% static 'img/work-1.jpg' %}" class="work-box img-popup" data-title="Design Production" data-category="Branding">
                            <div class="work-thumb">
                                <img src="{% static 'img/work-1.jpg' %}" alt="work">
                            </div>
                        </a>
                    </div><!-- /work-1 -->
                    <div class="col-md-4 col-sm-6 xs-padding single-item branding marketing">
                        <a href="{% static 'img/work-2.jpg' %}" class="work-box img-popup" data-title="New Genaration" data-category="Marketing">
                            <div class="work-thumb">
                                <img src="{% static 'img/work-2.jpg' %}" alt="work">
                            </div>
                        </a>
                    </div><!-- /work-2 -->
                    <div class="col-md-4 col-sm-6 xs-padding single-item design wordpress">
                        <a href="{% static 'img/work-3.jpg' %}" class="work-box img-popup" data-title=" Lignt Books" data-category="Indesign">
                            <div class="work-thumb">
                                <img src="{% static 'img/work-3.jpg' %}" alt="work">
                            </div>
                        </a>
                    </div><!-- /work-3 -->
                    <div class="col-md-4 col-sm-6 xs-padding single-item marketing design">
                        <a href="{% static 'img/work-4.jpg' %}" class="work-box img-popup" data-title=" Art & Design" data-category="Photography">
                            <div class="work-thumb">
                                <img src="{% static 'img/work-4.jpg' %}" alt="work">
                            </div>
                        </a>
                    </div><!-- /work-4 -->
                    <div class="col-md-4 col-sm-6 xs-padding single-item wordpress marketing">
                        <a href="{% static 'img/work-5.jpg' %}" class="work-box img-popup" data-title=" Flat Mockup" data-category="Design">
                            <div class="work-thumb">
                                <img src="{% static 'img/work-5.jpg' %}" alt="work">
                            </div>
                        </a>
                    </div><!-- /work-5 -->
                    <div class="col-md-4 col-sm-6 xs-padding single-item design branding">
                        <a href="{% static 'img/work-6.jpg' %}" class="work-box img-popup" data-title=" White Cards" data-category="Records">
                            <div class="work-thumb">
                                <img src="{% static 'img/work-6.jpg' %}" alt="work">
                            </div>
                        </a>
                    </div><!-- /work-6 -->
                    <div class="col-md-4 col-sm-6 xs-padding single-item branding wordpress">
                        <a href="{% static 'img/work-7.jpg' %}" class="work-box img-popup" data-title=" Creative Arts" data-category="Design">
                            <div class="work-thumb">
                                <img src="{% static 'img/work-7.jpg' %}" alt="work">
                            </div>
                        </a>
                    </div><!-- /work-7 -->
                    <div class="col-md-4 col-sm-6 xs-padding single-item wordpress marketing">
                        <a href="{% static 'img/work-8.jpg' %}" class="work-box img-popup" data-title=" Photography Eyes" data-category="Videos">
                            <div class="work-thumb">
                                <img src="{% static 'img/work-8.jpg' %}" alt="work">
                            </div>
                        </a>
                    </div><!-- /work-8 -->
                    <div class="col-md-4 col-sm-6 xs-padding single-item design marketing">
                        <a href="{% static 'img/work-9.jpg' %}" class="work-box img-popup" data-title=" Red Glasses" data-category="Design">
                            <div class="work-thumb">
                                <img src="{% static 'img/work-9.jpg' %}" alt="work">
                            </div>
                        </a>
                    </div><!-- /work-8 -->
                </div>
            </div>
        </div>
    </section>
    <!--/.work-section-->

    <section id="reviews" class="testimonial-section bg-grey bd-bottom padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-none d-lg-block d-md-block">
                    <div class="clients-thumb">
                        <div class="ct-thumb thumb-1"></div>
                        <div class="ct-thumb thumb-2"></div>
                        <div class="ct-thumb thumb-3"></div>
                        <div class="ct-thumb thumb-4"></div>
                        <div class="ct-thumb thumb-5"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="section-heading">
                        <h2 class="wow fadeInUp" data-wow-delay="100ms">Clients Reviews</h2>
                    </div>
                    <!--/.section-heading-->
                    <div id="testimonial-carousel" class="testimonial-carousel owl-carousel wow fadeInUp" data-wow-delay="300ms">
                        <div class="testi-item">
                            <p>Having a home based business is a wonderful asset to your life. The problem still stands, when it comes timeadvertise your business for a cheap cost. I know you have looked for to answer everywhere.</p>
                            <div class="testi-thumb">
                                <img src="{% static 'img/testi-1.jpg' %}" alt="img">
                                <h3>Angelina Rose <span>Designer</span></h3>
                            </div>
                        </div>
                        <div class="testi-item">
                            <p>Having a home based business is a wonderful asset to your life. The problem still stands, when it comes timeadvertise your business for a cheap cost. I know you have looked for to answer everywhere.</p>
                            <div class="testi-thumb">
                                <img src="{% static 'img/testi-2.jpg' %}" alt="img">
                                <h3>Josef Martin <span>Developer</span></h3>
                            </div>
                        </div>
                        <div class="testi-item">
                            <p>Having a home based business is a wonderful asset to your life. The problem still stands, when it comes timeadvertise your business for a cheap cost. I know you have looked for to answer everywhere.</p>
                            <div class="testi-thumb">
                                <img src="{% static 'img/testi-3.jpg' %}" alt="img">
                                <h3>Melania Trump <span>Marketer</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--.testimonial-section-->

    <section id="contact" class="contact-section padding">
        <div class="container">
            <div class="contact-wrapper d-flex align-items-center row">
                <div class="col-lg-5 col-md-6 sm-padding">
                    <div class="contact-info">
                        <div class="section-heading mb-20">
                            <h2 class="wow fadeInUp" data-wow-delay="100ms">Get In Touch</h2>
                        </div>
                        <!--/.section-heading-->
                        <p class="wow fadeInUp" data-wow-delay="300ms">Out believe has request not how comfort evident. <br> Up delight cousins we feeling minutes. Genius has looked <br>end piqued spring.</p>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 sm-padding">
                    <div class="contact-form">
                        <form action="contact.php" method="post" id="ajax_form" class="form-horizontal">
                            <div class="form-group colum-row row wow fadeInUp" data-wow-delay="500ms">
                                <div class="col-sm-6">
                                    <input type="text" id="name" name="name" class="form-control" placeholder="Full Name" required>
                                </div>
                                <div class="col-sm-6">
                                    <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                                </div>
                            </div>
                            <div class="form-group row wow fadeInUp" data-wow-delay="700ms">
                                <div class="col-md-12">
                                    <textarea id="message" name="message" cols="30" rows="5" class="form-control message" placeholder="Message" required></textarea>
                                </div>
                            </div>
                            <div class="form-group row wow fadeInUp" data-wow-delay="900ms">
                                <div class="col-md-12">
                                    <button id="submit" class="default-btn" type="submit">Send Message</button>
                                </div>
                            </div>
                            <div id="form-messages" class="alert" role="alert"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/.contact-section-->

    <section class="widget-section padding">
        <div class="container">
            <div class="widget-content text-center">
                <h2 class="wow fadeInUp" data-wow-delay="100ms">Let's get to work <span>!</span></h2>
                <a class="mb-15 wow fadeInUp" data-wow-delay="200ms" href="#">Info@yourmail.com</a>
                <a href="tel:9123456789" class=" wow fadeInUp" data-wow-delay="300ms">+9123456789</a>
            </div>
        </div>
    </section>
    <!--/.widget-section-->

    <footer class="footer-section">
        <div class="container">
            <div class="footer-wrap row">
                <div class="col-md-6">
                    <ul class="footer-social">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Behance</a></li>
                        <li><a href="#">Dribbble</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="copyright">
                        <p>&copy; <span id="year"></span> Xavia Powerd By TeamXcel</p>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- /.footer-section -->

    <a data-scroll href="#header" id="scroll-to-top"><i class="ti-angle-up"></i></a>

    <!-- jQuery Lib -->
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <!-- Modernizr -->
    <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <!-- Slicknav JS -->
    <script src="{% static 'js/vendor/jquery.slicknav.min.js' %}"></script>
    <!-- OWL-Carousel JS -->
    <script src="{% static 'js/vendor/owl.carousel.min.js' %}"></script>
    <!-- Counterup JS -->
    <script src="{% static 'js/vendor/jquery.counterup.min.js' %}"></script>
    <!-- Waypoins JS -->
    <script src="{% static 'js/vendor/jquery.waypoints.v2.0.3.min.js' %}"></script>
    <!-- Venobox JS -->
    <script src="{% static 'js/vendor/venobox.min.js' %}"></script>
    <!-- Image Loaded JS -->
    <script src="{% static 'js/vendor/imagesloaded.pkgd.min.js' %}"></script>
    <!-- Isotop JS -->
    <script src="{% static 'js/vendor/jquery.isotope.v3.0.2.js' %}"></script>
    <!-- Smooth Scroll JS -->
    <script src="{% static 'js/vendor/smooth-scroll.min.js' %}"></script>
    <!-- Wow JS -->
    <script src="{% static 'js/vendor/wow.min.js' %}"></script>
    <!-- Contact -->
    <script src="{% static 'js/contact.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
