<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>текст</p>
    
    <h1>Заголовки</h1>
    <h2></h2>
    <h3></h3>
    <h4></h4>
    <h5></h5>
    <h6></h6>

    <!-- неупорядочный список-->
    <ul>
        <li></li>
    </ul>

    <!-- упорядочный список-->
    <ol>
        <li></li>
    </ol>

    <b>жырный</b>
    <i>italic</i>


    <br> отступ на следующую строку

    <a href="#">ссылка</a>

    <div>Блок кода</div>

    <img src="" alt="">работа с картинками
    <header>шапка или голова сата</header>
    <main>туловище сайта</main>
    <section>Разделы сайта</section>
    <nav>навигации сайта</nav>
    <footer>ноги сайта</footer>
    

</body>
</html>